<?xml version="1.0"?>
<model>
  <name>DISCOWER COSMO Lab</name>
  <version>0.1</version>
  <sdf version="1.6">urdf/model.urdf</sdf>
  <author>
    <name>Pedro Roque</name>
    <email>padr@kth.se</email>
  </author>
  <description>
    Gazebo-compatible config file for the DISCOWER COSMO Lab.
  </description>
</model>
